{% extends "AppCoder/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="section">
    <div class="row">
      <div class="col">
          {% if cursos %}
          <table class="table">
              <thead>
                  <th scope="col">Identificador</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Camada</th>
              </thead>
              {% for curso in cursos %}
              <tbody>
                  <tr>
                      <th scope="row">{{curso.id}} </th>
                      <td> {{curso.curso}} </td>
                      <td> {{curso.camada}} </td>
                      <!-- {% url 'borrar' identificador=curso.id as borrar_url %}
                      <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-disable" button_type="link" href=borrar_url %}</td> -->
                  </tr>  
              </tbody>
              {% endfor %}
          </table>
          {% else %}
              <p>No hay datos cargados</p>
          {% endif %}
      </div>
    </div>
</div>
{% endblock %}